:root {
  --primary-color: #000090;
  --secondary-color: #23b0d3;
  --bg-color: #f4f4f4;
  --text-color: white;
}




@font-face {
  font-family: "win98";
  src: url("win98.ttf") format('truetype');
}



  body {
    font-family: 'win98', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

  .icon {
    display:flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-bottom: -170px;
  }

  p, h1, h2, h3, q {
    text-align: center;
    font-family: 'win98', sans-serif;
  }

  h2 {
    color: var(--text-color);
    text-align: left;
    line-height:30px;
    text-shadow: 1px 1px 1px black;
    margin: 0;
 
    padding: 2px 5px;
    
  }

  h1 {
    font-size: 4vw;
    margin: 0;
    text-shadow: 2px 2px 2px black;
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
   
  }



  h3 {
    font-size: 20px;
    color: rgb(64, 255, 64);
    text-shadow: 1px 1px 1px black; 
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
    margin: 0;

  }

  p, li { color: black;
    
  }

  li {
    display: flex;
    align-items: center;
    
  
  }


#appMenu label {
  font-family: "win98", sans-serif;
  font-weight: normal;
  font-size: medium;

}

  #startBtn img {
    padding-top: 3px;
    padding-right: 5px;
  }

  #appMenu li:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

 #skillsContainer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
      }

#workoutContainer {
    height: fit-content;
    padding: 5px;
    max-width: 600px;
  }
    
 #skillsContainer {
        display: none;
        max-width: 400px;
        min-width: 400px;
	height: fit-content; 
}

 #todoContainer p,
 #recContainer p {
    margin-top: 1px;
    padding: 0;
   
  }

  #todoContainer,
  #recContainer {
    max-width: 500px;
    height: fit-content;    
    max-height: 800px;
}

    #recList {
        max-height: 500px;
        overflow-y: scroll;
    }



  #calcContainer {
    display: none;
    max-width: 250px;
    max-height: 400px;
  }
  
  #wallpContainer {
    min-width: 100px;
    max-width: 300px;
    height: 130px;
  }
 

 
  #calendarContainer {
    display: none;
    min-width: fit-content;
    max-width: fit-content;
    height: fit-content;
  }

  #weekGraph {
    padding: 10px;
  }

  q {
        text-shadow: 1px 1px 1px black;
  }

  .clock {
    font-size: 1.3em;
    color: black;
    text-shadow: 1px 1px 1px white;
    padding: 5px;
    padding-bottom: 0px;
    font-family: "win98", sans-serif;
    margin-left: auto;  
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 80px;

    border-bottom: 2px solid #DDDDDD;
    border-right: 2px solid #EEEEEE;
    border-left: 1px solid #222222;
    border-top: 1px solid #222222;

  }
  
  span { padding: 0;
          margin: 0;}

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .quadros {
    margin: 10px 10px;
    background: #CCCCCC;
    flex: 1 300px;
    border-top: 3px solid #DDDDDD;
    border-left: 3px solid #EEEEEE;
    border-right: 4px solid #222222;
    border-bottom: 4px solid #222222;
    z-index: 2;
  }


  #appMenu {
    border-right: 3px solid #222222;
    border-bottom: 3px solid #222222;
    height:fit-content;
    width: 270px;
    margin-left: 29px;
    margin-bottom: 10px;
  }

  #greetings {
    background-color: black;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: -2vh; 
  }


  #linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: #C0C0C0;    
    bottom: 0px;
    padding: 3px 0px 0px 0px;
    border-top: 3px solid #DDDDDD;
    height: calc(30px + 1vh);    
  }

  #linksBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex: 1 800px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
  }

 #startBtn {
    font-size: 1.5rem;
    margin: 0.5vh 0vh 1vh 0.5vh;
    font-weight: 900;
    display: flex;
    border-top: 2px solid #DDDDDD;
    border-left: 2px solid #EEEEEE;
    border-right: 2px solid #222222;
    border-bottom: 2px solid #222222;
 }

 .barDivider {
  margin: 0.5vh 0.5vh 1vh 0.7vh;

  width: 0px;
  height: 80%;
  border-left: 1px solid darkslategrey;
  border-right: 1px solid white;
 }

 .barDividerFat {
  width: 0px;
  height: 70%;
  border-left: 2px ridge white;
  border-right: 2px ridge grey;
  margin: 0.5vh 0.5vh 1vh 0vh;

 }

 
  #bgContainer {
        height: 100%;
        width: 100%;
        background-image: url("imagens/windowsgreen.jpeg");
        background-size: cover; /* or use a specific length value, e.g., background-size: 100px; */
        background-position: center;
        background-repeat: repeat-y;
        color: white;
      
  }

 #charBox {
 	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
 	margin: 10px 5px 0 5px;;
 }
 
 
 .charDetails {
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    padding-right: 8px;
    padding-left: 8px;
 }

 .charDetails label
  {
	font-size: large;
 }

 #dailiesContainer label {
 	font-size: large;
 }
 #charBox img {
	margin: 10px auto 10px auto;
	border: 1px solid black;
}

meter {
  margin-bottom: 5px;
}

 .skillBox {
    display: flex;
    margin: 10px 10px;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row;
 }
 
 .skillBox img {
     padding: 2px 5px;
 }

.imgSkillDiv {
    background: none;
    }

 .skillDetails {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    background-color: white;
    padding: 0 8px;
 }


 .skillInfo {
    display: flex;
    justify-content: space-between;
    
 }

 #projetosBox {
  display: flex column;
  justify-content: space-around;
   gap: 5px;
}



 #projetosContainer {
  display: none;
  max-width: 600px;
}


 .projetoBox {
  border: 1px solid rgb(11, 6, 45);
  display: flex;
  margin: 10px 5px;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
}


.projetoDetails {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 8px;
  padding-left: 8px;
}


.projetoInfo {
  display: flex;
  justify-content: space-between;
}


.skillInfo > label {
    display: flex;
    align-self: end;
}


label {
  font-size: x-large;
  color: black;
  font-weight: 800;
  font-family: "win98", sans-serif;

 }

 .icon:hover {
  cursor: pointer
 }

 .icon:active {
  background-color: var(--primary-color);
 }

 .icon:active label {
  color: white;
 }

 #pomodoroIconDiv {
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 0;
 }

 #todoIconDiv {
  position: absolute;
  top: 200px;
  left: 30px;
  z-index: 0;
 }

 #calendarIconDiv {
  position: absolute;
  top: 300px;
  left: 30px;
  z-index: 0;
 }

 #recIconDiv {
  position: absolute;
  top: 400px;
  left: 30px;
  z-index: 0;
 }

 #workoutIconDiv {
  position: absolute;
  top: 500px;
  left: 30px;
  z-index: 0;
}
.icon label {
  font-size: medium;
  font-weight: normal;

  width: 80px;
 }

 .icon img {
  margin-left: 10px;
 }


 /* POMODORO CONTENTS */


#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#timer {
    font-size: 2.5rem;
   
    background-color: rgba(250, 250, 250, 0.8);
    color: black;
    padding: 3px;
    padding-bottom: 0px;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


button {
   
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #C0C0C0;
  color: black;
  border-top: 3px solid #DDDDDD;
  border-left: 3px solid #EEEEEE;
  border-right: 3px solid #222222;
  border-bottom: 3px solid #222222;
  font-family: "win98", sans-serif;
  transition: background-color 0.3s;
 
}


button:active {
  border-bottom: 3px solid #DDDDDD;
  border-right: 3px solid #EEEEEE;
  border-left: 3px solid #222222;
  border-top: 3px solid #222222;
}


.skillBtn {
  height:50px;
  width: 40px;
  background-color: #C0C0C0; 
  transition: background-color 0.3s;
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-right: 10px;
  text-align: center;
}

.skillBtn:hover {
  background-color: #666666;
  color: white;
}

.projetoBtn {
  height:70px;
  width: 50px;
  background-color: #C0C0C0;
  transition: background-color 0.3s;
  color: black;
  font-size: 30px;
  font-weight:bolder;

}

.projetoBtn:hover {
  background-color: #666666;
  color: white;
}



#todoContainer button,
#recContainer button {
    background-color: grey;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 5px;
    padding-bottom: 5px; 
    align-items: center;
    justify-content: center;
    display: flex;
  }

#addRecContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#todoContainer ul button,
#recContainer ul button {
display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-bottom: 5px;
  width: 0.5rem;
  height: 0.5rem;
}


a img {
  transition: transform 0.3s;
}

a:hover img {
  transform: scale(1.3);
}

table {
  border-collapse: collapse;
  margin: 15px auto;
}

td, th {
  border: 1px solid black;
  padding: 3px;
  min-width: 70px;
  background-color: antiquewhite;
  color: black;

}

th {
  background-color:  #666666;
  color: white;
}


#searchWeb {
  min-height: 100px;
  flex: 1 300px;
  max-width: 500px;
  max-height: 160px;
  display: none;

}

#pomodoroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vh 0;
  padding: 10px;

}

#pomodoroSection img {
  display: block;
  flex: 1;
  margin-right: 2vw;
}

#pomodoro {
  min-height: 180px;
  max-height: 180px;
  min-width: 320px;
  max-width: 320px;
  padding-bottom: 2px;
  display: block ;

}

#dailiesContainer { 
  max-width: 250px;
  min-width: 250px;
  height: fit-content;
  
}

#dailiesContainer li {
	margin-left: -30px;
}

#taskInput,
#recInput {
  margin-top: 15px;
}

#taskList,
#recList {
  background-color: white;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  list-style: square outside;
  display: flex;
  flex-direction: column;
  border: 1px solid black; 
  
  
} 

#taskList li,
#recList li {
  margin: 6px 2px;
  color: black;
  list-style: lower-greek;



}
  






#calculator {
  text-align: center;
  padding: 20px 0px;
  margin: 0;
  
  border: 1px solid black;
 
}



input {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
}


input[type="text"] {
  width: 200px;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="checkbox"] {
	font-size: large;
	height: 25px;
	width: 25px;
}

#appMenu li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 10px;
  margin-left: -35px;
  gap: 10px;
}

legend {
  margin: auto;
  color: black;
}

.titleBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));  
}



.titleBar button {
  margin: 3px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-bottom: 5px;

}


#calendarContainer td:nth-of-type(1) {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* Adjust for number of days per week */
  gap: 2px;
  background-color: black;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.day-square {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: 1px solid #ccc;
  margin: 2px;
  cursor: none;
}

